<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Select Unit</h2>

  <ion-list>
    <ion-radio-group [(ngModel)]="unit" (ionChange)="onUnitChange()">
      <ion-item>
        <ion-label>Metric</ion-label>
        <ion-radio slot="end" value="Metric"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Imperial</ion-label>
        <ion-radio slot="end" value="Imperial"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>
